<#include "/common/layout.html">
<@header>
<link rel="stylesheet" href="/plugins/bootstrap-fileinput/css/fileinput.min.css">
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 班级图片墙</small>
		<small><span style="cursor: pointer"><a href="javascript:history.go(-1)">返回</a></span></small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
	  <div class="row">
			  <!-- Content Header (Page header) -->
			  <section class="content-header">
				  <h1>
					  班级信息
				  </h1>
			  </section>

			  <!-- Main content -->
			  <section class="content">

				  <div class="row">
					  <div class="col-md-3">

						  <!-- Profile Image -->
						  <div class="box box-primary">
							  <div class="box-body box-profile">

								  <h3 class="profile-username text-center">${(detail.name)!}</h3>

								  <p class="text-muted text-center">${(detail.classNo)!}</p>

								  <ul class="list-group list-group-unbordered">
									  <li class="list-group-item">
										  <b>学生数</b> <a class="pull-right">${(detail.students)!}</a>
									  </li>
									  <li class="list-group-item">
										  <b>教师数</b> <a class="pull-right">${(detail.teachers)!}</a>
									  </li>
									  <li class="list-group-item">
										  <b>班主任姓名</b> <a class="pull-right">${(charge.userName)!}</a>
									  </li>
									  <li class="list-group-item">
										  <b>班主任联系方式</b>${(charge.phone)!'未录入'}} <a class="pull-right"></a>
									  </li>
								  </ul>

							  </div>
							  <!-- /.box-body -->
						  </div>
						  <!-- /.box -->

						  <!-- About Me Box -->
						  <div class="box box-primary">
							  <div class="box-header with-border">
								  <h3 class="box-title">个人信息</h3>
							  </div>
							  <!-- /.box-header -->
							  <div class="box-body">
								  <strong><i class="fa fa-book margin-r-5"></i> 学生编号</strong>

								  <p class="text-muted">
									 ${stu.no}
								  </p>

								  <hr>

								  <strong><i class="fa fa-map-marker margin-r-5"></i> 班级位置</strong>

								  <p class="text-muted">${detail.location}</p>

								  <hr>

								  <strong><i class="fa fa-pencil margin-r-5"></i> 所在年级</strong>

								  <p>
									  <!--<span class="label label-danger">UI Design</span>-->
									  <span class="label label-success">${stu.grade}</span>
									  <!--<span class="label label-info">Javascript</span>-->
									  <!--<span class="label label-warning">PHP</span>-->
									  <!--<span class="label label-primary">Node.js</span>-->
								  </p>

								  <hr>

								  <strong><i class="fa fa-file-text-o margin-r-5"></i> 班级描述</strong>

								  <p>${detail.description}</p>
							  </div>
							  <!-- /.box-body -->
						  </div>
						  <!-- /.box -->
					  </div>
					  <!-- /.col -->
					  <div class="col-md-9">
						  <div class="nav-tabs-custom">
							  <ul class="nav nav-tabs">
								  <li class="active"><a href="#activity" data-toggle="tab">图片墙</a></li>
							  </ul>
							  <div class="tab-content">
								  <div class="active tab-pane" id="activity">
									  <!-- Post -->
									  <div class="post">
										  <div class="user-block">
											  <span class="username">
                          <a href="#">班级名称：${detail.name}</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
											  <span class="description"></span>
										  </div>
										  <!-- /.user-block -->
										  <div class="row margin-bottom">
											  <!-- /.col -->
											  <div class="col-sm-8">
												  <div class="row" class="photo-wall">
													  <div class="col-sm-6">
														  <#if detail.photos?? && (detail.photos?size >=1)>
														  <div class="wallbox">
															  <img src="${(detail.photos[0].path)!}" class="img-responsive"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  ${(detail.photos[0].detail)!}
																	  </p>
																  </div>
															  </div>
														  </div>
													  </#if>
														  <br>
													  <#if detail.photos?? && (detail.photos?size >=2)>
														  <div class="wallbox" style="margin: 10px">
															  <img src="${(detail.photos[1].path)!}"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  ${(detail.photos[1].detail)!}
																	  </p>
																  </div>
															  </div>
														  </div>
												  </#if>
													  </div>
													  <!-- /.col -->
													  <div class="col-sm-6" style="">
														  <#if detail.photos?? && (detail.photos?size >=3)>
														  <div class="wallbox">
															  <img src="${(detail.photos[2].path)!}"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  ${(detail.photos[2].detail)!}
																	  </p>
																  </div>
															  </div>
														  </div>
													  </#if>
														  <br>
											  <#if detail.photos?? && (detail.photos?size >=4)>
														  <div class="wallbox">
															  <img src="${(detail.photos[3].path)!}"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  ${(detail.photos[3].detail)!}
																	  </p>
																  </div>
															  </div>
														  </div>
													  </div>
									  </#if>
													  <!-- /.col -->
												  </div>
												  <!-- /.row -->
											  </div>
											  <!-- /.col -->
										  </div>
										  <!-- /.row -->

										  <ul class="list-inline">
										  </ul>

									  </div>
									  <!-- /.post -->
								  </div>
								  <!-- /.tab-pane -->
								  <!-- /.tab-pane -->

								  <!-- /.tab-pane -->
							  </div>
							  <!-- /.tab-content -->
						  </div>
						  <!-- /.nav-tabs-custom -->
					  </div>
					  <!-- /.col -->
				  </div>
				  <!-- /.row -->

			  </section>
			  <!-- /.content -->
	  </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
//初始化fileinput控件（第一次初始化）
$(function () {
})
</script>
<style>
	.file-drop-zone-title {
		color: #aaa;
		font-size: 1.6em;
		padding: 10px 10px!important;
		cursor: default;
	}

	.wallbox {
		position: relative;
		width: 350px;
		height: 250px;
		margin: 0 30px 30px 0;
		background-size: 100% 100%;
		float: left;
	}
	.wallbox img{
		width: 350px;
		height: 250px;
		padding: 10px;
	}

	.wallbox:hover .details {
		display: block;
	}

	.text {
		position: absolute;
		bottom: 0px;
		width: 100%;
		line-height: 30px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.blank {
		float: left;
		width: 80px;
		background-color: transparent;
		height: 30px;
	}

	.wallh3 {
		float: left;
		width: 140px;
		text-align: center;
		color: #ffffff;
	}

	.details {
		color: #FFFFFF;
		display: none;
	}

	.price div {
		height: 30px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
</style>
</@footer>