<#include "/common/layout.html">
<@header>
<link rel="stylesheet" href="/plugins/bootstrap-fileinput/css/fileinput.min.css">
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 班级图片墙</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
	  <div class="row">
			  <!-- Content Header (Page header) -->
			  <section class="content-header">
				  <h1>
					  班级信息
				  </h1>
			  </section>

			  <!-- Main content -->
			  <section class="content">

				  <div class="row">
					  <div class="col-md-3">

						  <!-- Profile Image -->
						  <div class="box box-primary">
							  <div class="box-body box-profile">
								  <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">

								  <h3 class="profile-username text-center">Nina Mcintire</h3>

								  <p class="text-muted text-center">Software Engineer</p>

								  <ul class="list-group list-group-unbordered">
									  <li class="list-group-item">
										  <b>Followers</b> <a class="pull-right">1,322</a>
									  </li>
									  <li class="list-group-item">
										  <b>Following</b> <a class="pull-right">543</a>
									  </li>
									  <li class="list-group-item">
										  <b>Friends</b> <a class="pull-right">13,287</a>
									  </li>
								  </ul>

								  <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
							  </div>
							  <!-- /.box-body -->
						  </div>
						  <!-- /.box -->

						  <!-- About Me Box -->
						  <div class="box box-primary">
							  <div class="box-header with-border">
								  <h3 class="box-title">个人信息</h3>
							  </div>
							  <!-- /.box-header -->
							  <div class="box-body">
								  <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

								  <p class="text-muted">
									  B.S. in Computer Science from the University of Tennessee at Knoxville
								  </p>

								  <hr>

								  <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

								  <p class="text-muted">Malibu, California</p>

								  <hr>

								  <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

								  <p>
									  <span class="label label-danger">UI Design</span>
									  <span class="label label-success">Coding</span>
									  <span class="label label-info">Javascript</span>
									  <span class="label label-warning">PHP</span>
									  <span class="label label-primary">Node.js</span>
								  </p>

								  <hr>

								  <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

								  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
							  </div>
							  <!-- /.box-body -->
						  </div>
						  <!-- /.box -->
					  </div>
					  <!-- /.col -->
					  <div class="col-md-9">
						  <div class="nav-tabs-custom">
							  <ul class="nav nav-tabs">
								  <li class="active"><a href="#activity" data-toggle="tab">图片墙</a></li>
							  </ul>
							  <div class="tab-content">
								  <div class="active tab-pane" id="activity">
									  <!-- Post -->
									  <div class="post">
										  <div class="user-block">
											  <span class="username">
                          <a href="#">Adam Jones</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
											  <span class="description">Posted 5 photos - 5 days ago</span>
										  </div>
										  <!-- /.user-block -->
										  <div class="row margin-bottom">
											  <!-- /.col -->
											  <div class="col-sm-8">
												  <div class="row" class="photo-wall">
													  <div class="col-sm-6">
														  <div class="wallbox">
															  <img src="/upload/2020-03-24/user3-128x128.jpg" class="img-responsive"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  吉安国际酒店是集餐饮
																	  </p>
																  </div>
															  </div>
														  </div>
														  <br>
														  <div class="wallbox" style="margin: 10px">
															  <img src="/upload/2020-03-24/user3-128x128.jpg"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  吉安国际酒店是集餐饮
																	  </p>
																  </div>
															  </div>
														  </div>
													  </div>
													  <!-- /.col -->
													  <div class="col-sm-6" style="">
														  <div class="wallbox">
															  <img src="/upload/2020-03-24/user3-128x128.jpg"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  吉安国际酒店是集餐饮
																	  </p>
																  </div>
															  </div>
														  </div>
														  <br>
														  <div class="wallbox">
															  <img src="/upload/2020-03-24/user3-128x128.jpg"/>
															  <div class="text">
																  <div class="blank">
																  </div>
																  <div class="wallh3">
																	  <p class="details">
																		  吉安国际酒店是集餐饮
																	  </p>
																  </div>
															  </div>
														  </div>
													  </div>
													  <!-- /.col -->
												  </div>
												  <!-- /.row -->
											  </div>
											  <!-- /.col -->
										  </div>
										  <!-- /.row -->

										  <ul class="list-inline">
										  </ul>

									  </div>
									  <!-- /.post -->
								  </div>
								  <!-- /.tab-pane -->
								  <!-- /.tab-pane -->

								  <!-- /.tab-pane -->
							  </div>
							  <!-- /.tab-content -->
						  </div>
						  <!-- /.nav-tabs-custom -->
					  </div>
					  <!-- /.col -->
				  </div>
				  <!-- /.row -->

			  </section>
			  <!-- /.content -->
	  </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
//初始化fileinput控件（第一次初始化）
function initFileInput(ctrlName, uploadUrl) {    
    var control = $('#' + ctrlName); 

    control.fileinput({
    	
    	 initialPreview: [
             '${(sysUser.userImg)!}'
         ],
         initialPreviewAsData: true,
         initialPreviewConfig: [
             {caption: "${(sysUser.userImg)!}", size: 930321, width: "120px", key: '${(sysUser.id)!}', showDelete: false}
         ],
         deleteUrl: "/file/delete",
    	
        language: 'zh', //设置语言
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
        showUpload: false, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary"       
    });
}
	
initFileInput("systemLogo1", "/file/upload");
initFileInput("systemLogo2", "/file/upload");
initFileInput("systemLogo3", "/file/upload");
initFileInput("systemLogo4", "/file/upload");

//上传成功回调函数
$('#systemLogo1').on("fileuploaded", function(event, data, previewId, index) {
    var result = data.response;
    console.log(result.status);
    console.log(result.urls);
    $('#userImg').val(result.urls[0]);
});

</script>
<style>
	.file-drop-zone-title {
		color: #aaa;
		font-size: 1.6em;
		padding: 10px 10px!important;
		cursor: default;
	}

	.wallbox {
		position: relative;
		width: 350px;
		height: 250px;
		margin: 0 30px 30px 0;
		background-size: 100% 100%;
		float: left;
	}
	.wallbox img{
		width: 350px;
		height: 250px;
		padding: 10px;
	}

	.wallbox:hover .details {
		display: block;
	}

	.text {
		position: absolute;
		bottom: 0px;
		width: 100%;
		line-height: 30px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.blank {
		float: left;
		width: 80px;
		background-color: transparent;
		height: 30px;
	}

	.wallh3 {
		float: left;
		width: 140px;
		text-align: center;
		color: #ffffff;
	}

	.details {
		color: #FFFFFF;
		display: none;
	}

	.price div {
		height: 30px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
</style>
</@footer>