<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 学生管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/student/list/1" method="post" class="form-inline">
          <div class="box-header">
            <@shiro.hasPermission name="system:stu:add">
	            <div class="input-group">
	            	<a class="btn btn-primary dialog" href="javascript:;" data-title="添加学生" data-url="/system/student/toAdd" data-width="800" data-height="400"><i class="fa fa-plus"></i> 添加学生</a>
	            </div>
            </@shiro.hasPermission>
             <div class="input-group">
               <input type="text" name="no" value="${no!}" class="form-control" placeholder="输入学号查询">
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                 <a href="/system/dept/list/1" class="btn btn-default"><i class="fa fa-refresh"></i></a>
               </div>
            </div>
             <@shiro.hasPermission name="system:stu:add">
             <div class="input-group pull-right">
                 <a class="btn btn-primary btn-xs dialog" href="javascript:;" data-title="导入学生" data-url="/system/student/toimport",
                    data-width="800" data-height="400" ><i class="fa fa-file-excel-o">导入</i></a>
             </div>
         </@shiro.hasPermission>
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="100px">行号</th>
                <th>名称</th>
                <th>学号</th>
                <th>添加时间</th>
                <th>所在班级</th>
                <th>班主任</th>
                <th>所属年级</th>
                <th>家长姓名</th>
               <#if exam ??>
                  <th>考试课程</th>
              </#if>
                <th width="120px">操作</th>
              </tr>
              <#list pageData.getRecords() as record>
              	  <tr>
	                <td>${((pageData.current-1)*pageData.size +record_index+1)!}</td>
	                <td>${(record.name)!}</td>
	                <td>${(record.no)!}</td>
	                <td>${(record.createdTime?string('yyyy/MM/dd HH:mm:ss'))!'--'}</td>
	                <td>${(record.className)!'--'}</td>
	                <td>${(record.chargeUname)!'--'}</td>
	                <td>${(record.grade)!'--'}</td>
	                <td>${(record.parentName)!'--'}</td>
                      <#if exam ??>
                      <td>
                          ${(exam.lessonName)}${(exam.title)}
                      </td>
                  </#if>
	                <td>
	                	<@shiro.hasPermission name="system:stu:add">
	                		<a class="btn btn-primary btn-xs dialog" href="javascript:;" data-title="编辑学生" data-url="/system/class/toAdd?id={(record.id)!}",data-width="800" data-height="400" > <i class="fa fa-pencil-square-o"></i> 编辑</a>
	                	</@shiro.hasPermission>
	                	<@shiro.hasPermission name="system:stu:del">
		                	<a class="btn btn-danger btn-xs"
		                	 data-tiggle="ajax"
		                	 data-submit-url="/system/student/delete?id=${(record.id)!}"
		                	 data-confirm="您确定删除学生吗?"><i class="fa fa-times"></i> 删除</a>
	                	 </@shiro.hasPermission>


	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/system/dept/list/" urlParas="?search=${search!}"  />
            </div>
            <div class="col-md-6 pull-left">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/dept/list/" urlParas="?search=${search!}&pageSize=${pageSize!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>