<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>
 <form role="form" class="layui-form layui-form-pane pd10" method="post" action="/system/dict/dict/doAdd">
     <input type="hidden" name="id" value="${(dict.id)!}">
     <input type="hidden" name="createTime" value="${(dict.createTime?string('yyyy/MM/dd HH:mm:ss'))!}">
   <div class="box-body">
     <div class="form-group">
       <label for="name">字典项名称</label>
      	<input type="text" id="name" name="name" value="${(dict.name)!}" class="form-control" lay-verify="required|check" check-url="/system/dict/check/name?checkType=dict&typeValue=${typeValue!}&id=${(dict.id)!}" placeholder="字典项名称">
     </div>
     <div class="form-group">
           <label for="value">字典项值</label>
           <input type="text" id="value" name="value" value="${(dict.value)!}" class="form-control" lay-verify="required|check" check-url="/system/dict/check/value?checkType=dict&typeValue=${typeValue!}&id=${(dict.id)!}" placeholder="字典项名称">
       </div>
     <div class="form-group">
           <label for="typeValue">字典类型值</label>
           <input type="text" id="typeValue" name="typeValue" class="form-control" value="${typeValue!}" disabled>
       </div>
     <div class="form-group">
            <label>字典项描述</label>
            <textarea class="form-control" name="descri" rows="3" placeholder="请输入描述，最多300个字符 ..." >${(dict.descri)!}</textarea>
     </div>
     <div class="form-group">
   		<button type="submit" class="btn btn-success" lay-submit lay-filter="submit"><i class="fa fa-save"></i>  提 交</button>
   	 </div>
   </div>
 </form>
</@body>
<@footer>
</@footer>