<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        <small>当前位置：<span class="label label-success">系统管理</span >>> <span class="label label-success">字典项管理</span>
            <a class="label label-default" href="javascript:;" onClick="javascript :history.back(-1);"><i class="fa fa-reply"></i> 返回</a>
        </small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/dict/list/1"  class="form-inline">
          <div class="box-header">
            <@shiro.hasPermission name="dictAdd">
	            <div class="input-group">
	            	<a class="btn btn-primary dialog" href="javascript:;" data-title="添加字典项" data-url="/system/dict/dict/toAdd?typeValue=${typeValue!}" data-width="800" data-height="400"><i class="fa fa-plus"></i> 添加字典项</a>
	            </div>
            </@shiro.hasPermission>
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
              <thead style="background-color: #4476A7">
                <th  width="20px">&nbsp;&nbsp;</th>
                <th>字典项名称</th>
                <th>字典项值</th>
                <th>所属字典类型</th>
                <th>所属字典类型值</th>
                <th>描述</th>
                <th width="320px">操作</th>
              </thead>
              <#list pageData.getRecords() as dict>
              	  <tr>
	                <td>&nbsp;</td>
	                <td>${(dict.name)!}</td>
	                <td>${(dict.value)!'--'}</td>
	                <td>${typeName!'--'}</td>
	                <td>${(dict.typeValue)!'--'}</td>
	                <td>${(dict.descri)!'--'}</td>
	                <td>
	                	<@shiro.hasPermission name="dictEdit">
	                		<a class=" dialog" href="javascript:;" title="编辑" data-title="编辑" data-url="/system/dict/edit/${(dict.id)!}",data-width="800" data-height="600" > <i class="fa fa-pencil-square-o"></i></a>
	                	</@shiro.hasPermission>
	                	<@shiro.hasPermission name="dictDel">
		                	<a class=""
                               style="cursor: pointer"
                               title="删除"
		                	 data-tiggle="ajax"
		                	 data-submit-url="/system/dict/del?id=${(dict.id)!}"
		                	 data-confirm="您确定要删除该条记录吗?"><i class="fa fa-trash-o"></i></a>
	                	 </@shiro.hasPermission>
	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/system/dict/list/" urlParas="?typeValue=${typeValue!}&typeName=${typeName!}"  />
            <!--</div>-->
            <!--<div class="col-md-6 pull-left">-->
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/dict/list/" urlParas="?pageSize=${pageSize!}&typeValue=${typeValue!}&typeName=${typeName!}"  />
            <!--</div>-->
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>