<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 字典管理</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/dict/type/list/1"  class="form-inline">
          <div class="box-header">
            <@shiro.hasPermission name="dictAdd">
	            <div class="input-group">
	            	<a class="btn btn-primary dialog" href="javascript:;" data-title="创建字典类型" data-url="/system/dict/type/toAdd" data-width="800" data-height="400"><i class="fa fa-plus"></i> 创建字典类型</a>
	            </div>
            </@shiro.hasPermission>
             <div class="input-group">
               <input type="text" name="name" value="${name!}" class="form-control" placeholder="输入字典类型名称">
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                 <a href="/system/dict/type/list/1" class="btn btn-default"><i class="fa fa-refresh"></i></a>
               </div>
            </div>
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="100px">行号</th>
                <th>字典类型名称</th>
                <th>字典类型值</th>
                <th>描述</th>
                <th width="320px">操作</th>
              </tr>
              <#list pageData.getRecords() as type>
              	  <tr>
	                <td>${((pageData.current-1)*pageData.size +type_index+1)!}</td>
	                <td>${(type.name)!}</td>
	                <td>${(type.value)!'--'}</td>
	                <td>${(type.descri)!'--'}</td>
	                <td>
	                	<@shiro.hasPermission name="dictEdit">
	                		<a class="btn btn-primary btn-xs dialog" href="javascript:;" data-title="编辑" data-url="/system/dict/type/toEdit/${(type.id)!}",data-width="800" data-height="600" > <i class="fa fa-pencil-square-o"></i> 编辑</a>
	                	</@shiro.hasPermission>
	                	<@shiro.hasPermission name="dictDel">
		                	<a class="btn btn-danger btn-xs"
		                	 data-tiggle="ajax"
		                	 data-submit-url="/system/dict/type/del?id=${(type.id)!}"
		                	 data-confirm="您确定要删除该条记录吗?"><i class="fa fa-times"></i> 删除</a>
	                	 </@shiro.hasPermission>
                <@shiro.hasPermission name="dictAdd">
                    <a class="btn btn-primary btn-xs" href="/system/dict/list/1?typeValue=${(type.value)!}&typeName=${(type.name)!}" data-title="字典项管理" data-url="/system/dict/list/${(type.value)!}",data-width="800" data-height="400" > <i class="fa fa-pencil-square-o"></i>字典项列表</a>
                </@shiro.hasPermission>
	                </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/system/dict/type/list/" urlParas="?name=${name!}"  />
            </div>
            <div class="col-md-6 pull-left">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/dict/type/list/" urlParas="?name=${name!}&pageSize=${pageSize!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>