<header class="main-header">
 <!-- Logo -->
 <!--<a href="/index2.html" class="logo">-->
   <!--&lt;!&ndash; mini logo for sidebar mini 50x50 pixels &ndash;&gt;-->
   <!--<span class="logo-mini"><b>${(systemSubName)!'AD'}</b></span>-->
   <!--&lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;-->
   <!--<span class="logo-lg"><b>${(systemName)!'-&#45;&#45;'}</b></span>-->
 <!--</a>-->

 <!-- Header Navbar -->
 <nav class="navbar navbar-static-top">
     <div class="container">
         <div class="navbar-header">
             <a href="../../index2.html" class="navbar-brand"><b>${(systemName)!'AD'}</b></a>
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                 <i class="fa fa-bars"></i>
             </button>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
             <ul class="nav navbar-nav">
                 <li class="treeview"><a href="/index"><i class="fa fa-dashboard"></i><span>首页</span></a></li>
                         <#if treeMenus??>
                         <#list treeMenus as vo>

                    <li class="dropdown">
                        <a href="#"  class="dropdown-toggle" data-toggle="dropdown"></i>
                            <span>${(vo.sysMenu.menuName)!}</span>
                            <i class="caret"></i>
                        </a>
                             <ul class="dropdown-menu" role="menu">
                                 <#list vo.children as ch>
                                    <li><a href="${(ch.sysMenu.url)!}?p=${(vo.sysMenu.id)!}&t=${(ch.sysMenu.id)!}" style="<#if cur?? && ch.sysMenu.id==cur> color: white </#if>"> ${(ch.sysMenu.menuName)!}</a></li>
                                 </#list>
                            </ul>
                    </li>
                        </#list>
                        </#if>
             </ul>
         </div>
   <!-- Sidebar toggle button-->
   <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>-->
   <!-- Navbar Right Menu -->
   <div class="navbar-custom-menu">
     <ul class="nav navbar-nav">
       <!-- Notifications Menu -->
       <!-- User Account Menu -->
       <li class="dropdown user user-menu">
         <!-- Menu Toggle Button -->
         <a href="/system/me/info" class="dropdown-toggle" data-toggle="dropdown" title="Admnin" data-placement="bottom">
           <!--<img src="${(me.userImg)!}" class="user-image" alt="User Image">-->
             <span><i class="fa fa-user"></i></span>
           <span class="hidden-xs">${(me.userName)!'游客'}</span>
         </a>
           <ul class="dropdown-menu">
               <!-- User image -->
               <li class="user-header">
                   <img src="${(me.userImg)!}" class="img-circle" alt="User Image">

                   <p>
                       ${(me.userName)!'游客'}
                   </p>
               </li>
               <!-- Menu Body -->
               <li class="user-body">
                   <div class="row">
                       <div class="col-xs-4 text-center">
                           <a href="/system/me/info"><i></i>我的信息</a>
                       </div>
                       <div class="col-xs-4 text-center">
                           <a href="/system/me/pwd">修改密码</a>
                       </div>
                   </div>
                   <!-- /.row -->
               </li>
               <!-- Menu Footer-->
               <li class="user-footer">
                   <div class="pull-left">
                       <a href="/logout" class="btn btn-default btn-flat">退出登陆</a>
                   </div>
               </li>
           </ul>
       </li>
         <!-- Control Sidebar Toggle Button -->
           </ul>
       </li>

       <!--<li>-->
         <!--<a href="/logout" class="dropdown-toggle" data-toggle="tooltip" title="退出" data-placement="bottom">-->
           <!--<i class="fa fa-sign-out"></i>-->
         <!--</a>-->
       <!--</li>-->
       <li style="width: 30px;">
       </li>
      </ul>
    </div>
  </nav>
</header>