<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 考试汇总</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/class/list/1" method="post" class="form-inline">
          <div class="box-header">
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th  width="100px">行号</th>
                <th>名称</th>
                <th>班级名称</th>
                <th>创建时间</th>
                <th>考试时间</th>
                <th>所属年级</th>
                <th width="320px">操作</th>
              </tr>
              <#list pageData.getRecords() as record>
              	  <tr>
	                <td>${((pageData.current-1)*pageData.size +record_index+1)!}</td>
	                <td>${(record.title)!}</td>
	                <td>${(record.className)!}</td>
	                <td>${(record.createdTime?string('yyyy/MM/dd HH:mm:ss'))!'--'}</td>
	                <td>${(record.begin?string('yyyy/MM/dd HH:mm:ss'))!'--'} - ${(record.end?string('yyyy/MM/dd HH:mm:ss'))!'--'}</td>
	                <td>${(record.grade)!'--'}</td>
	                <td>
                        <#if role =='manage'>
                            <a href="/system/exam/stulist/1?code=${(record.code)}&classId=${(record.classId)!}" > <i class="fa fa-pencil-square-o"></i> 汇总成绩</a>
                        <#elseif role == 'parent'>
                            <a href="/system/exam/detailList?code=${(record.code)}" > <i class="fa fa-pencil-square-o"></i> 查看成绩</a>
                        </#if>
                    </td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
            <div class="col-md-6">
         	  <#include "/common/paginateBar.html" />
	  		  <@paginate pageData=pageData actionUrl="/system/exam/list/" urlParas="?classId=${classId!}"  />
            </div>
            <div class="col-md-6 pull-left">
	             <#include "/common/paginate.html" />
	  			 <@paginate currentPage=pageData.getCurrent() totalPage=pageData.getPages() actionUrl="/system/exam/list/" urlParas="?classId=${classId!}&pageSize=${pageSize!}"  />
            </div>
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>