<#include "/common/layout.html">
<@header>
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 成绩汇总</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
         <form action="/system/class/list/1" method="post" class="form-inline">
          <div class="box-header">
          </div><!-- /.box-header -->
          </form>
          <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
              <tr>
                <th>课程</th>
                <th>分数</th>
                <th>教师评语</th>
              </tr>
              <#list scores as record>
              	  <tr>
	                <td>${(record.lessonName)!}</td>
	                <td>${(record.score)!}</td>
	                <td>${(record.comment)!'--'}</td>
	              </tr>
              </#list>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer row">
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
</@footer>