<#include "/common/layout.html">
<@header>
<link rel="stylesheet" href="/plugins/bootstrap-fileinput/css/fileinput.min.css">
</@header>
<@body>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <small>系统管理 > 班级图片墙</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
	  <div class="row">
	  <div class="col-md-6">
		  <div class="box box-primary">
			  <div class="box-header with-border">
				  <h3 class="box-title">照片墙第一张图片</h3>
			  </div>
			  <!-- /.box-header -->
			  <!-- form start -->
			  <form role="form" action="/system/photo/add" method="post">
				  <div class="box-body">
					  <div class="form-group">
						  <label for="11">描述</label>
						  <input type="text" class="form-control" name="detail" id="11" placeholder="图片描述">
						  <input type="hidden" name="fileName" id="fileName1">
						  <input type="hidden" value="${sysClass.id}" name="classId">
						  <input type="hidden" name="index" value="0">
						  <input type="hidden" name="path" id="path1">
					  </div>
					  <div class="form-group">
						  <label for="systemLogo1">图片</label>
						  <input name="file" type="file" class="file-loading1" id="systemLogo1">
					  </div>
					  </div>
				  <!-- /.box-body -->

				  <div class="box-footer">
					  <button type="submit" class="btn btn-primary">提交</button>
				  </div>
			  </form>
		  </div>
	  </div>
	  <div class="col-md-6">
		  <div class="box box-primary">
			  <div class="box-header with-border">
				  <h3 class="box-title">照片墙第二张图片</h3>
			  </div>
			  <!-- /.box-header -->
			  <!-- form start -->
			  <form role="form" action="/system/photo/add" method="post">
				  <div class="box-body">
					  <div class="form-group">
						  <label for="12">描述</label>
						  <input type="text" class="form-control" name="detail" id="12" placeholder="图片描述">
						  <input type="hidden" name="fileName" id="fileName2">
						  <input type="hidden" value="${sysClass.id}" name="classId">
						  <input type="hidden" name="index" value="1">
						  <input type="hidden" name="path" id="path2">
					  </div>
					  <div class="form-group">
						  <label for="systemLogo1">图片</label>
						  <input name="file" type="file" class="file-loading1" id="systemLogo2">
					  </div>
					  </div>
				  <!-- /.box-body -->

				  <div class="box-footer">
					  <button type="submit" class="btn btn-primary">提交</button>
				  </div>
			  </form>
		  </div>
	  </div>
	  <div class="col-md-6">
		  <div class="box box-primary">
			  <div class="box-header with-border">
				  <h3 class="box-title">照片墙第三张图片</h3>
			  </div>
			  <!-- /.box-header -->
			  <!-- form start -->
			  <form role="form" action="/system/photo/add" method="post">
				  <div class="box-body">
					  <div class="form-group">
						  <label for="10">描述</label>
						  <input type="text" class="form-control" name="detail" id="10" placeholder="图片描述">
						  <input type="hidden" name="fileName" id="fileName3">
						  <input type="hidden" value="${sysClass.id}" name="classId">
						  <input type="hidden" name="index" value="2">
						  <input type="hidden" name="path" id="path3">
					  </div>
					  <div class="form-group">
						  <label for="systemLogo1">图片</label>
						  <input name="file" type="file" class="file-loading1" id="systemLogo3">
					  </div>
					  </div>
				  <!-- /.box-body -->

				  <div class="box-footer">
					  <button type="submit" class="btn btn-primary">提交</button>
				  </div>
			  </form>
		  </div>
	  </div>
	  <div class="col-md-6">
		  <div class="box box-primary">
			  <div class="box-header with-border">
				  <h3 class="box-title">照片墙第四张图片</h3>
			  </div>
			  <!-- /.box-header -->
			  <!-- form start -->
			  <form role="form" action="/system/photo/add" method="post">
				  <div class="box-body">
					  <div class="form-group">
						  <label for="13">描述</label>
						  <input type="text" class="form-control" name="detail" id="13" placeholder="图片描述">
						  <input type="hidden" name="fileName" id="fileName4">
						  <input type="hidden" value="${sysClass.id}" name="classId">
						  <input type="hidden" name="index" value="3">
						  <input type="hidden" name="path" id="path4">
					  </div>
					  <div class="form-group">
						  <label for="systemLogo1">图片</label>
						  <input name="file" type="file" class="file-loading1" id="systemLogo4">
					  </div>
					  </div>
				  <!-- /.box-body -->

				  <div class="box-footer">
					  <button type="submit" class="btn btn-primary">提交</button>
				  </div>
			  </form>
		  </div>
	  </div>
	  </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</@body>
<@footer>
<script src="/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script>
//初始化fileinput控件（第一次初始化）
function initFileInput(ctrlName, uploadUrl,index) {
    var control = $('#' + ctrlName); 
	var img = ${(photoWalls[index].path)!} +'';
	var id = ${(photoWalls[index].id)!} +'';
    control.fileinput({
    	
    	 initialPreview: [
             img
         ],
         initialPreviewAsData: true,
         initialPreviewConfig: [
             {caption: img, size: 930321, width: "120px", key: id, showDelete: false}
         ],
         deleteUrl: "/file/delete",
    	
        language: 'zh', //设置语言
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
        showUpload: false, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary"       
    });
}
	
initFileInput("systemLogo1", "/file/upload",0);
initFileInput("systemLogo2", "/file/upload",1);
initFileInput("systemLogo3", "/file/upload",2);
initFileInput("systemLogo4", "/file/upload",3);

//上传成功回调函数
$('#systemLogo1').on("fileuploaded", function(event, data, previewId, index) {
    var result = data.response;
    $('#path1').val(result.urls[0]);
    $('#fileName1').val(result.fileName);
});
$('#systemLogo2').on("fileuploaded", function(event, data, previewId, index) {
    var result = data.response;
    $('#path2').val(result.urls[0]);
    $('#fileName2').val(result.fileName);
});
$('#systemLogo3').on("fileuploaded", function(event, data, previewId, index) {
    var result = data.response;
    $('#path3').val(result.urls[0]);
    $('#fileName3').val(result.fileName);
});
$('#systemLogo4').on("fileuploaded", function(event, data, previewId, index) {
    var result = data.response;
    $('#path4').val(result.urls[0]);
    $('#fileName4').val(result.fileName);
});

</script>
<style>
	.file-drop-zone-title {
		color: #aaa;
		font-size: 1.6em;
		padding: 10px 10px!important;
		cursor: default;
	}
</style>
</@footer>